<a href="https://colab.research.google.com/github/Adithiyaa-A-S/Adithiyaa-A-S/blob/main/Pynative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Exercises

## Exercise-1
### Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result = num1 * num2

if result > 1000:
  result = num1 + num2

print("RESULT is,", result)

Enter first number: 40
Enter second number: 30
RESULT is, 70

## Exercise-2
### Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

In [ ]:
sum = previous = 0
print("Printing current and previous number sum in a range(10)")
for i in range(10):
  current = i
  sum = previous + current
  print("Current number", current, "Previous number", previous, "Sum:", sum)
  previous = current

Printing current and previous number sum in a range(10)
Current number 0 Previous number 0 Sum: 0
Current number 1 Previous number 0 Sum: 1
Current number 2 Previous number 1 Sum: 3
Current number 3 Previous number 2 Sum: 5
Current number 4 Previous number 3 Sum: 7
Current number 5 Previous number 4 Sum: 9
Current number 6 Previous number 5 Sum: 11
Current number 7 Previous number 6 Sum: 13
Current number 8 Previous number 7 Sum: 15
Current number 9 Previous number 8 Sum: 17

## Exercise 3
### Given a string, display only those characters which are present at an even index number

In [ ]:
string = input("Enter a string: ")
length = len(string)
print("Orginal String is ", string)
print("Printing only even index chars")

for i in range(0, length, 2):
  print(string[i])

Enter a string: pynative
Orginal String is  pynative
Printing only even index chars
p
n
t
v


## Exercise 4 
### Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [ ]:
string = input("Enter a string: ")
num = int(input("Enter an integer: "))
length = len(string)

for i in range(-(length - num), 0):
  print(string[i], end = "")

Enter a string: pynative
Enter an integer: 4
tive

## Exercise 5 
### Given a list of numbers, return True if first and last number of a list is same

In [ ]:
lst = eval(input("Enter any list: "))
length = len(lst)

result =  (lst[0] == lst[length - 1])

print("Result is", result)

Enter any list: [10, 20, 30, 40, 50]
Result is False

## Exercise 6
### Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [ ]:
lst = eval(input("Enter a list of numbers: "))

for item in lst:
  if item % 5 == 0:
    print(item)

Enter a list of numbers: [10, 20, 33, 46, 55]
10
20
55

## Exercise 7
### Return the count of sub-string “Emma” appears in the given string

In [ ]:
string = input("Enter a string: ")
sub = "Emma"
freq = string.count(sub)

print(sub, "appeared", freq, "times.")

Enter a string: Emma is good developer. Emma is a writer
Emma appeared 2 times.

## Exercise 8
### Print the following pattern

In [ ]:
for i in range(1, 6):
  print(str(i) * i)

1
22
333
4444
55555

## Exercise 9
### Reverse a given number and return true if it is the same as the original number

In [ ]:
num = int(input("Enter an integer: "))
rev = 0
temp = num
while temp > 0:
  rem = temp % 10
  rev = rev * 10 + rem
  temp //= 10

if num == rev:
  print("Reverse of", num, "is same")
else:
  print("Reverse of", num, "is different")

Enter an integer: 125
Reverse of 125 is different

## Exercise 10
### Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [ ]:
lst1 = eval(input("Enter first list: "))
lst2 = eval(input("Enter second list: "))

result = []

for item in lst1:
  if item % 2 != 0:
    result.append(item)

for item in lst2:
  if item % 2 == 0:
    result.append(item)

print("The resultant list is,", result)

Enter first list: [10, 20, 23, 11, 17]
Enter second list: [13, 43, 24, 36, 12]
The resultant list is, [23, 11, 17, 24, 36, 12]

## Exercise 11
### Write a code to extract each digit from an integer, in the reverse order

In [ ]:
num = int(input("Enter an integer: "))
num_string = str(num)

for i in range(-1, -(len(num_string) + 1), -1):
  print(num_string[i], end = " ")

Enter an integer: 7536
6 3 5 7

In [ ]:
num = int(input("Enter an integer: "))
while num > 0:
  digit = num % 10
  num = num // 10
  print(digit, end = " ")

Enter an integer: 7536
6 3 5 7

## Exercise 12
### Calculate income tax for the given income by adhering to the below rules

In [ ]:
income = int(input("Enter your income: "))
tax = 0
num = income

if num > 10000:
  num -= 10000
  tax += 10000 * 0
  
if num > 10000:
  num -= 10000
  tax += 10000 * 0.1

if num > 0:
  tax += num * 0.2

else:
  tax = 0

print("Tax payable for $", income, " is $", tax)

Enter your income: 45000
Tax payable for $ 45000  is $ 6000.0

## Exercise 13
### Print multiplication table form 1 to 10

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(i * j, end = "\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

## Exercise 14
### Print downward Half-Pyramid Pattern with Star (asterisk)

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

## Exercise 15
### Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp

In [ ]:
def exponent(base, exp):
  return base ** exp

b = int(input("Enter the base value: "))
e = int(input("Enter the exponent value: "))

print("Result: ", exponent(b, e))

Enter the base value: 5
Enter the exponent value: 4
Result:  625

# Python I/P and O/P

## Exercise 1
### Accept two numbers from the user and calculate multiplication

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

result = num1 * num2

print(num1, "x", num2, "=", result)

Enter first number: 3.5
Enter second number: 5
3.5 x 5.0 = 17.5

## Exercise 2
### Display “My Name Is James” as “My ** Name ** Is ** James” using output formatting of a print() function

In [ ]:
print("My", "Name", "Is", "James", sep = "**")

My**Name**Is**James

## Exercise 3
### Convert decimal number to octal using print() output formatting

In [ ]:
num = int(input("Enter a decimal number: "))

print("%o" % num)

Enter a decimal number: 8
10

## Exercise 4
### Display float number with 2 decimal places using print()

In [ ]:
decimal = float(input("Enter a floating point number: "))

print("%.2f" % decimal)

Enter a floating point number: 458.541315
458.54

## Exercise 5
### Accept a list of 5 float numbers as an input from the user

In [ ]:
lst = []

print("Enter 5 foating point numbers: ")
for i in range(5):
  n = float(input())
  lst.append(n)

print(lst)

Enter 5 foating point numbers:
4.6
56.7
45.4
345.3
45.7
[4.6, 56.7, 45.4, 345.3, 45.7]

## Exercise 7
### Accept any three string from one input() call

In [ ]:
s1, s2, s3 = input("Enter any string: ").split()

print(s1, s2, s3)

Enter any string: Hello there !
Hello there !

## Exercise 8
### Format the following data using a string.format() method.

In [ ]:
totalMoney = 1000
quantity = 3
price = 450

print("I have {0} dollars so I can buy {1} football for {2} dollars.".format(totalMoney, quantity, price))

I have 1000 dollars so I can buy 3 football for 450 dollars.

# Functions

## Exercise 1
### Create a function that can accept two arguments name and age and print its value

In [1]:
def build_profile(name, age):
  print("Name:", name)
  print("Age:", age)

build_profile("Ben", 25)

Name: Ben
Age: 25

## Exercise 2
### Write a function func1() such that it can accept a variable length of  argument and print all arguments value

In [4]:
def func1(*values):
  for element in values:
    print(element)
  print()
  
func1(20, 40, 60)
func1(80, 100)

20
40
60

80
100

## Exercise 3
### Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call

In [6]:
def calculation(num1, num2):
  add_result = num1 + num2
  if num1 < num2:
    num1, num2 = num2, num1
  sub_result = num1 - num2
  return add_result, sub_result

add, sub = calculation(40, 10)
print(add)
print(sub)

50
30

## Exercise 4
### Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary

In [7]:
def showEmployee(name, salary = 9000):
  print("Employee", name, "salary is", salary)

showEmployee("Ben", 10000)
showEmployee("Ben")

Employee Ben salary is 10000
Employee Ben salary is 9000

## Exercise 5
### Create an inner function to calculate the addition in the following way
####Create an outer function that will accept two parameters, a and b
####Create an inner function inside an outer function that will calculate the addition of a and b
####At last, an outer function will add 5 into addition and return it

In [10]:
def outer_func(a, b):
  sum = 0
  def inner_func():
    sum = a + b
  inner_func()
  sum = sum + 5
  return sum
  
print(outer_func(1, 2))

5

## Exercise 6
### Write a recursive function to calculate the sum of numbers from 0 to 10

In [12]:
def Sum(num):
  if num == 1:
    return 1
  else:
    return num + Sum(num-1)

Sum(10)

55

## Exercise 7
### Assign a different name to function and call it through the new name

In [14]:
def displayStudent(name, age):
    print(name, age)

displayStudent("Emma", 26)

'''def showStudent(name, age):
  displayStudent(name, age)'''
showStudent = displayStudent

showStudent("Emma", 26)

Emma 26
Emma 26

## Exercise 8
### Generate a Python list of all the even numbers between 4 to 30

In [16]:
def gen_even(num1, num2):
  lst = []
  for i in range(num1, num2):
    if i % 2 == 0:
      lst.append(i)
  print(lst)

gen_even(4, 30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Exercise 9
### Return the largest item from the given list

In [17]:
def largest_in_list(lst):
  max = lst[0]
  for element in lst:
    if element > max:
      max = element
  print(max)

largest_in_list([4, 6, 8, 24, 12, 2])

24

In [20]:
def largest_in_list(lst):
  _max = max(lst)
  print(_max)

largest_in_list([4, 6, 8, 24, 12, 2])

24